<section>
    <div class="footer block">
        <div class="footer__inner">
            <div class="footer__copyright">(c)Copyrights : Rodya corp.</div>
            <div class="footer__nav">
                <div class="footer__nav-item"><a href="/mainPage">Главная</a></div>
                <div class="footer__nav-item"><a href="/works">Мои работы</a></div>
                <div class="footer__nav-item"><a href="/blogPage">Блог</a></div>
                <div class="footer__nav-item"><a href="/connect">Связь со мной</a></div>
            </div>
        </div>
    </div>
</section>
</footer>