<h2>Create products</h2>

<form action="/createProduct" method="POST">
    <div class="input-field">
        <input type="text" name="title" placeholder="Заголовок">
    </div>
    <div class="input-field">
        <input type="text" name="subtitle" placeholder="Подзаголовок">
    </div>
    <div class="input-field">
        <textarea name="text" placeholder="Описание"></textarea>
    </div>

    <button type="submit" class="btn">Сохранить</button>
</form>